.button {
    width: 70px;
    height: 70px;

    border: none;
    background-color: rgba(255, 255, 255, .2);
    border-radius: 8px;

    font-family: 'Cantata One';
    font-size: 19px;
    color: rgba(83, 82, 81, 0.7);

    &:hover {
        background:linear-gradient(128deg, rgba(255, 255, 255, .2) 25%, rgba(255, 255, 255, .5) 50%, rgba(255, 255, 255, .2) 80%);
    }

    &:active {
        background-color: rgba(255, 255, 255, .3);
    }

    &--top {
        height: 40px;
    }
}