@font-face {
    font-family: 'OPTICalculator';
    src: url('../fonts/OPTICalculator.woff2') format('woff2'),
        url('../fonts/OPTICalculator.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cantata One';
    src: url('../fonts/CantataOne-Regular.woff2') format('woff2'),
        url('../fonts/CantataOne-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
