* {
    box-sizing: border-box;
}

.container {
    height: 100vh;
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background:linear-gradient(333deg, rgba(136, 6, 162, .3) 0%, rgba(183, 213, 240, .6) 80%);
}
